{#
 Copyright 2018 Banco Bilbao Vizcaya Argentaria, S.A.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
#}
[/var/log/messages]
datetime_format = %b %d %H:%M:%S
file = /var/log/messages
buffer_duration = 5000
log_stream_name = {{ ansible_hostname }}
initial_position = start_of_file
log_group_name = /var/log/messages

[/var/tmp/qed]
datetime_format = %b %d %H:%M:%S
file = /var/qed/qed.log
buffer_duration = 5000
log_stream_name = {{ ansible_hostname }}
initial_position = start_of_file
log_group_name = qed
