[Unit]
Description=Node exporter
Documentation=https://github.com/bbva/qed
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Restart=always
RestartSec=5
WorkingDirectory=/var/qed
RuntimeDirectory=root
RuntimeDirectoryMode=0750
ExecStart=/var/qed/exporter-start.sh
ExecStop=/var/qed/exporter-stop.sh
LimitNOFILE=10000
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target