{#
 Copyright 2018-2019 Banco Bilbao Vizcaya Argentaria, S.A.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
#}
---
global:
  scrape_interval:     15s
  evaluation_interval: 15s
scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
{% for host in groups['role_qed'] %}
  - job_name: 'Qed{{loop.index0}}'
    scrape_interval: 10s
    static_configs:
      - targets: ['{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:8600']
  - job_name: 'Qed{{loop.index0}}-Host'
    scrape_interval: 10s
    static_configs:
      - targets: ['{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:9100']
{% endfor %}
{% if groups['role_publisher'] is defined %}
{% for host in groups['role_publisher'] %}
  - job_name: 'Publisher{{loop.index0}}'
    scrape_interval: 10s
    static_configs:
      - targets: ['{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:18100']
  - job_name: 'Publisher{{loop.index0}}-Host'
    scrape_interval: 10s
    static_configs:
      - targets: ['{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:9100']
{% endfor %}
{% endif %}
{% if groups['role_monitor'] is defined %}
{% for host in groups['role_monitor'] %}
  - job_name: 'Monitor{{loop.index0}}'
    scrape_interval: 10s
    static_configs:
      - targets: ['{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:18100']
  - job_name: 'Monitor{{loop.index0}}-Host'
    scrape_interval: 10s
    static_configs:
      - targets: ['{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:9100']
{% endfor %}
{% endif %}
{% if groups['role_auditor'] is defined %}
{% for host in groups['role_auditor'] %}
  - job_name: 'Auditor{{loop.index0}}'
    scrape_interval: 10s
    static_configs:
      - targets: ['{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:18100']
  - job_name: 'Auditor{{loop.index0}}-Host'
    scrape_interval: 10s
    static_configs:
      - targets: ['{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:9100']
{% endfor %}
{% endif %}
{% for host in groups['role_workload'] %}
  - job_name: 'workload{{loop.index0}}-Host'
    scrape_interval: 10s
    static_configs:
      - targets: ['{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:9100']
{% endfor %}
{% if groups['role_storage'] is defined %}
{% for host in groups['role_storage'] %}
  - job_name: 'Store{{loop.index0}}'
    scrape_interval: 10s
    static_configs:
      - targets: ['{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:18888']
  - job_name: 'Store{{loop.index0}}-Host'
    scrape_interval: 10s
    static_configs:
      - targets: ['{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:9100']
{% endfor %}
{% endif %}
