{#
 Copyright 2018-2019 Banco Bilbao Vizcaya Argentaria, S.A.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
#}
#!/bin/bash

export QED_HOME=/var/qed
{% if 'role_qed' in group_names %}
$QED_HOME/qed server start \
--log info \
--api-key key \
--db-path /var/qed/db \
--gossip-addr "{{ ansible_eth0.ipv4.address }}:8400" \
--http-addr "{{ ansible_eth0.ipv4.address }}:8800" \
--metrics-addr "{{ ansible_eth0.ipv4.address }}:8600" \
--mgmt-addr "{{ ansible_eth0.ipv4.address }}:8700" \
--node-id server-{{ansible_hostname}} \
--private-key-path /var/qed/qed_ed25519 \
--raft-addr "{{ ansible_eth0.ipv4.address }}:8500" \
{% if groups.role_qed.index(inventory_hostname) != 0  %}
{% for host in groups['name_qed-0'] %}
--raft-join-addr "{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:8500" \
--gossip-join-addr "{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:8400" \
{% endfor %}
{% endif %}
--raft-path /var/qed/wal
{% endif %}

{% if 'role_monitor' in group_names %}
$QED_HOME/qed agent monitor \
--role monitor \
--node-name monitor-{{ansible_hostname}} \
--qed-endpoints "{% for host in groups['role_qed'] %}http://{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:8800{% if not loop.last %},{% endif %}{% endfor %}" \
{% endif %}
{% if 'role_auditor' in group_names %}
$QED_HOME/qed agent auditor \
--role auditor \
--node-name auditor-{{ansible_hostname}} \
--qed-endpoints "{% for host in groups['role_qed'] %}http://{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:8800{% if not loop.last %},{% endif %}{% endfor %}" \
{% endif %}
{% if 'role_publisher' in group_names %}
$QED_HOME/qed agent publisher \
--role publisher \
--node-name publisher-{{ansible_hostname}} \
{% endif %}
{% if 'role_monitor' in group_names or 'role_auditor' in group_names or 'role_publisher' in group_names %}
--bind-addr "{{ ansible_eth0.ipv4.address }}:8100" \
--advertise-addr "{{ ansible_eth0.ipv4.address }}:8100" \
--metrics-addr "{{ ansible_eth0.ipv4.address }}:18100" \
--start-join "{% for host in groups['role_qed'] %}{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:8400{% if not loop.last %},{% endif %}{% endfor %}" \
{% for host in groups['role_storage'] %}
--notifier-endpoint http://{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:8888 \
--store-endpoint http://{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:8888 \
--log info
{% endfor %}
{% endif %}